@font-face {
    font-family: alethia-regular;
    src: url(../Alethia\ Pro/MintType-AlethiaProRegular.otf);
}

@font-face {
    font-family: alethia-light;
    src: url(../Alethia\ Pro/MintType-AlethiaProLight.otf);
}

@font-face {
    font-family: alethia-extralight;
    src: url(../Alethia\ Pro/MintType-AlethiaProExtraLight.otf);
}

.highlight {
    color: #b54c70;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}


p {
    line-height: 1.5;
}

h2 {
    font-family: alethia-regular;
}

img {
    width: 100%;
}

.second-img-D,
.first-img-D,
.product-img-D,
.feature-img-D {
    display: none;
}

.header {
    display: flex;
    gap: 6px;
    align-items: stretch;
}

.text {
    display: grid;
    grid-template-rows: 1fr;
    gap: 6px;
}

.product-images {
    display: grid;
    gap: 6px;
    align-items: stretch;
}

.color:first-child {
    padding: 10px;
}

.color {
    background-color: #df8c88;
    position: relative;
}

.color h1 {
    color: #fff;
    line-height: 1.5;
    letter-spacing: 2px;
    font-family: alethia-extralight;
    font-size: 18px;
    margin: 15px auto;
}

.color h1 .highlight {
    color: #b54c70;
}

.arrow {
    width: 50px;
    position: absolute;
    top: 165px;
    right: 8px;
}

.third-img {
    position: relative;
    top: -33px;
}

.learn-more {
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    display: block;
    width: 55%;
    padding: 10px;
    font-size: 20px;
    border: unset;
    margin: 20px auto;
    font-family: alethia-light;
}

.feature {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 20px;
    align-items: stretch;
    margin-bottom: 30px;
    margin-right: 6px;
}

.features .reversed .first-img {
    object-fit: cover;
    object-position: left;
}

.first-img,
.feature img,
.second-img {
    object-fit: cover;
}


.features h2 {
    font-size: 16px;
    margin: 8px auto;
}

.features p {
    font-size: 14px;
}

.first-hr {
    margin-right: 6%;
    margin-left: -8%;
    border-top: 3px solid #f8d4dc;
}

.second-hr {
    margin-right: -9%;
    margin-left: 0%;
    border-top: 3px solid #d0dfff;
}

.features .reversed img {
    grid-column: 2;
}

.features .reversed {
    grid-auto-flow: dense;
    grid-template-columns: 1fr 100px;
    margin-left: 20px;
    margin-right: unset;
}

.feature3 div {
    border-left: 3px solid #ffd6d3;
    padding-left: 10px;
    margin-left: 10px;
}

.feature3 img {
    margin-bottom: -3px;
}

.feature3 p {
    padding-bottom: 40px;
}

.additional-info {
    background-image: url(../web/DR-D-LP-Skin-Complex-Plus-Face-m.webp);
    background-size: cover;
    padding: 30px 10px;
    border-bottom: 3px solid #333;
}

.additional-info ul li {
    display: flex;
    align-items: center;
    margin: 8px 0;
    gap: 6px;
    font-size: 12px;
}

.additional-info ul li img {
    width: 20%;
}

.additional-info span {
    font-weight: 600;
}

.info-content {
    width: 65%;
    font-size: 14px;
}

.info-content h2 {
    margin-bottom: 12px;
    font-size: 22px;
    color: #b54c70;
}

.first-p {
    margin: 15px 0;
}

.info-content ul {
    width: 75%;
}

.secondbtn {
    margin-top: -25px;
}

.regeneration-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.regeneration-text {
    text-align: end;
    font-family: alethia-light;
    margin-right: 20px;
    font-size: 22px;
}

.regeneration-text p {
    line-height: normal;
}

.regeneration .reversed {
    grid-auto-flow: dense;
}

.regeneration .reversed .regeneration-text {
    text-align: start;
    margin-left: 20px;
    margin-right: 0;
}

@media (min-width: 430px) {
    .color h1 {
        font-size: 25px;
    }

    .arrow {
        top: 225px;
    }
}

@media (min-width: 500px) {
    .color h1 {
        font-size: 22px;
    }

    .arrow {
        top: 175px;
    }
}

@media (min-width: 600px) {
    .color h1 {
        font-size: 38px;
    }

    .arrow {
        top: 308px;
    }

    .third-img {
        top: -56px;
    }
}

@media (min-width: 768px) {
    .arrow {
        width: 90px;
    }

    .color h1 {
        font-size: 30px;
        margin: 25px auto;
    }

    .second-hr {
        margin-right: -4%;
    }

    .product-images {
        width: 145%;
    }

    .arrow {
        top: 210px;
    }

    .first-hr {
        margin-left: -4%;
    }

    .additional-info {
        background-position: center;
    }

    .regeneration-content {
        grid-template-columns: 300px 1fr;
    }

    .regeneration .reversed {
        grid-template-columns: 1fr 300px;
        grid-column: 2;
        margin-top: -120px;
    }

    .additional-info {
        background-image: url(../web/DR-D-LP-Skin-Complex-Plus-Face-D.webp);
    }

    .second-img-D,
    .first-img {
        object-fit: cover;
    }

    .text {
        grid-template-rows: 300px 400px;
        align-items: stretch;
    }

    .third-img {
        top: -46px;
        width: 90%;
        left: 10%;
    }

    .product-images {
        align-items: stretch;
        grid-template-rows: 340px 360px;
    }
}

@media (min-width: 992px) {
    .third-img {
        width: 60%;
        left: 25%;
    }
}

@media (min-width: 1024px) {

    .features {
        width: 55%;
        margin: 0 auto;
    }

    .color h1 {
        font-size: 34px;
        margin: 75px auto;
    }

    .learn-more {
        width: 20%;
    }

    .first-img,
    .second-img,
    .product-img,
    .feature-img {
        display: none;
    }

    .second-img-D,
    .first-img-D,
    .product-img-D,
    .feature-img-D {
        display: block;
    }

    .arrow {
        top: 310px;
    }

    .text {
        grid-template-rows: 400px 300px;
        align-items: stretch;
    }

    .product-images {
        align-items: stretch;
        grid-template-rows: 270px 430px;
    }

    .third-img {
        top: -55px;
        left: 25%;
        width: 50%;
    }

    .first-img-D {
        object-fit: cover;
    }

    .regeneration {
        width: 60%;
        margin: 0 auto;
    }

    .first-p {
        width: 60%;
        font-size: 16px;
    }

    .additional-info ul li {
        font-size: 16px;
    }

    .info-content h2 {
        font-size: 30px;
    }

    .additional-info {
        padding: 80px;
    }


}

@media (min-width: 1400px) {

    .third-img {
        top: -42px;
        width: 60%;
        left: 25%;
    }

    .product-images {
        grid-template-rows: 255px 430px;
    }

    .color h1 {
        letter-spacing: unset;
        line-height: 1.2;
        font-size: 35px;
        margin: 18px auto;
    }

    .color:first-child {
        padding: 50px;
    }

    .arrow {
        top: 215px;
    }

    .text {
        grid-template-rows: 305px 380px;
    }

    .feature {
        grid-template-columns: 200px 1fr;
    }

    .features .reversed {
        grid-template-columns: 1fr 200px;
    }

    .regeneration {
        width: 70%;
    }

    .regeneration-content {
        grid-template-columns: 400px 1fr;
    }

    .regeneration .reversed {
        grid-template-columns: 1fr 400px;
        margin-top: -180px;
    }
}

@media (min-width: 1500px) {

    .third-img {
        top: -60px;
        width: 54%;
    }

    .color h1 {
        font-size: 35px;
        margin: 18px auto;
    }

    .container {
        width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 1800px) {
    .text {
        margin: unset;
    }

    .header {
        justify-content: center;
    }

    .color h1 {
        font-size: 36px;
        margin: 55px auto;
    }

    .third-img {
        top: -76px;
        width: 45%;
        left: 30%;
    }

    .text {
        grid-template-rows: 300px 380px;
    }

    .features p {
        font-size: 18px;
    }

    .first-hr {
        margin-left: -5%;
    }

    .features h2 {
        font-size: 30px;
    }

    .product-images {
        grid-template-rows: 340px 340px;
    }

    .feature {
        grid-template-columns: 250px 1fr;
        width: 75%;
        margin: 30px auto;
    }

    .features .reversed {
        grid-template-columns: 1fr 250px;
        margin: 0 auto;
    }

    .feature3 div {
        border-left: 7px solid #ffd6d3;
    }

    .feature3 {
        width: 75%;
        margin: 0 auto;
    }

    .first-hr {
        border-top: 7px solid #f8d4dc;
    }

    .second-hr {
        border-top: 7px solid #d0dfff;
        margin-right: -3%;
    }

    .learn-more {
        padding: 12px;
        font-size: 30px;
        margin: 30px auto;
    }

    .info-content h2 {
        font-size: 55px;
    }

    .info-content {
        width: 85%;
    }

    .features {
        width: 90%;
    }

    .first-p,
    .additional-info ul li {
        font-size: 18px;
    }

    .additional-info ul li img {
        width: 12%;
    }

    .info-content {
        margin: 30px auto;
    }

    .secondbtn {
        margin-top: -25px;
    }

    .regeneration-content {
        grid-template-columns: 400px 1fr;
    }

    .regeneration .reversed {
        grid-template-columns: 1fr 400px;
        margin-top: -180px;
    }

    .regeneration-text {
        font-size: 35px;
    }

    .regeneration {
        width: 80%;
    }
}


@media (min-width: 1900px) {

    .third-img {
        top: -82px;
        width: 40%;
    }

}